div.categoryFilterContainer {
  position: absolute;
  top: 408px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  border-radius: 8px;
  padding: 16px;
  width: 94%;
  min-height: 20vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

div.categoryFilterContainer > ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

div.categoryFilterContainer ul li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

div.categoryFilterContainer ul li div.primaryContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

div.categoryFilterContainer ul li div.buttonContainer {
  display: flex;
  gap: 8px;
}

div.categoryFilterContainer ul li div.buttonContainer button.material-icons {
  background-color: white;
  color: var(--color-delete);
  border: none;
}

div.categoryFilterContainer div.buttonContainer button:disabled.material-icons {
  background-color: white;
  color: var(--color-disabled);
  border: none;
}
