li.listItem div.primary label.completed-control {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 16px auto;
  gap: 8px;
}

li.listItem div.primaryView input[type='checkbox'] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: var(--border-task);
  width: 26px;
  height: 26px;
  border: 1px solid var(--border-task);
  border-radius: 8px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

li.listItem div.primaryView input[type='checkbox']::before {
  content: '';
  width: 14px;
  height: 14px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 16px 16px var(--color-confirm);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

li.listItem div.primaryView input[type='checkbox']:checked::before {
  transform: scale(1);
}
