form {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--color-bg-primary);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

form input#title {
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  border: var(--border-form);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

form textarea {
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  border: var(--border-form);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

form label {
  color: rgb(119, 116, 116);
  display: flex;
  flex-direction: column;
  gap: 4px;
}

form div.optionsContainer {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

form div.optionsContainer .dueDate,
form div.optionsContainer .priority {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 50%;
}

form div.optionsContainer .dueDate input,
form div.optionsContainer .priority select {
  height: 28px;
  border-radius: 4px;
  background-color: white;
  border: var(--border-form);
  box-shadow: var(--shadow-primary);
}

form div.category {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

form div.categoryInput {
  display: flex;
  gap: 8px;
}

form div.category select {
  height: 28px;
  border-radius: 4px;
  background-color: white;
  border: var(--border-form);
  box-shadow: var(--shadow-primary);
}

form div.category button {
  max-height: 28px;
  min-width: 32px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: white;
  border: var(--border-form);
  box-shadow: var(--shadow-primary);
}

form div.categoryInput input {
  width: 100%;
  height: 28px;
  padding: 4px;
  border: var(--border-form);
  box-shadow: var(--shadow-primary);
}

form div.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

form div.buttonContainer button {
  width: 90px;
  padding: 8px 0px;
  border-radius: 4px;
  color: white;
  border: none;
  box-shadow: var(--shadow-primary);
}

form div.buttonContainer button.confirm:disabled,
form div.buttonContainer button.cancel:disabled {
  background-color: var(--color-disabled);
}

form div.buttonContainer button.confirm {
  background-color: var(--color-confirm);
}

form div.buttonContainer button.cancel {
  background-color: var(--color-cancel);
}
