* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: black;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  flex: 1;
}

/* custom properties */
:root {
  --color-confirm: #2a9d8f;
  --color-cancel: #e63946;
  --color-disabled: #ced4da;
  --color-delete: rgb(128, 128, 128);

  --color-bg-primary: #f9f9f9;
  --color-bg-tab: #e63946;

  --border-form: none;
  --border-sort: none;
  --border-task: none;
  --border-tab: none;

  --shadow-primary: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --shadow-secondary: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

header {
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

header h1 {
  font-size: 24px;
  font-weight: 300;
  color: #335c67;
}

header h1 span {
  font-size: 24px;
  font-weight: 700;
}

footer {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
}
