@import url('./customCheckbox.css');

ul.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

li.listItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--color-bg-primary);
  box-shadow: var(--shadow-secondary);
  border: var(--border-task);
}

li.listItem div.primaryView {
  display: flex;
  gap: 8px;
}

li.listItem div.secondaryView {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

li.listItem div.primaryView h2,
li.listItem div.primaryView h2.active {
  font-size: 22px;
}

li.listItem div.primaryView h2.completed {
  text-decoration: line-through;
  color: darkgray;
}

li.listItem div.infoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

li.listItem div.infoContainer > * {
  font-size: 14px;
  padding: 4px;
  align-self: flex-start;
  scroll-snap-align: start;
  flex: 0 0 auto;
  border-radius: 4px;
  background-color: rgb(129, 128, 128);
  color: white;
}

li.listItem div.infoContainer > p.overdue {
  background-color: rgb(229, 16, 16);
}

li.listItem div.infoContainer > p.today {
  background-color: rgb(203, 136, 12);
}

li.listItem div.infoContainer > p.tomorrow {
  background-color: rgb(15, 159, 15);
}

li.listItem div.infoContainer > p.priority-low {
  background-color: rgb(12, 203, 98);
}
li.listItem div.infoContainer > p.priority-medium {
  background-color: rgb(246, 161, 4);
}
li.listItem div.infoContainer > p.priority-high {
  background-color: rgb(255, 72, 0);
}

li.listItem div.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

li.listItem div.buttonContainer button {
  border: var(--border-task);
  padding: 4px;
  border-radius: 4px;
  color: white;
}

li.listItem div.buttonContainer button.material-icons {
  background-color: var(--color-bg-primary);
  color: var(--color-delete);
}

li.listItem div.buttonContainer button.edit {
  box-shadow: var(--shadow-primary);
  width: 65px;
  background-color: var(--color-confirm);
}

li.listItem div.buttonContainer button:disabled.edit {
  box-shadow: var(--shadow-primary);
  width: 65px;
  background-color: var(--color-disabled);
}

div.taskListContainer {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}
