#task-dialog {
    width: 330px;
    padding: 16px;
    padding-top: 24px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    font-family: Arial, sans-serif;

    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Centering the dialog */
#task-dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form * {
    font-size: 16px;
}

/* Input and select fields */
input, textarea, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input:focus, 
textarea:focus, 
select:focus {
    border: 1px solid #1b3a4b;
    transition: border .2s ease-out;
}

textarea {
    height: 80px;
}

/* Flex container for select elements */

#select-container {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

#category-selector,
#priority-selector,
#status-selector {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

select {
    padding: 2px 4px;
    color: #1b3a4b;
    background-color: #fff;
    border: 1px solid #ccc;
}

select option {
    background-color: #fff;
    color: #1b3a4b;
}

/* Buttons */
#task-dialog button {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#close-dialog {
    padding: 4px;
    margin: 4px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    color: #1b3a4b;
}

#task-dialog button:hover {
    opacity: 0.8;
}

/* Adjust spacing */
p#charsCount {
    font-size: 12px;
    text-align: end;
    color: gray;
}

label {
    font-size: 12px;
    color: gray;
}

/* header */
div#task-dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#task-dialog-header div#header-btn-container {
    display: flex;
    gap: 24px;
}

/* title */
h2#form-title {
    font-size: 24px;
    color: #333;
}
/* dueDate */
#dueDate-container {
    position: relative;
    display: flex;
}

#dueDate {
    width: 0;
    height: 0;
    border: none;
    background: none;
    cursor: pointer;
}

#dueDate-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* confirm button */
#confirm-dialog {
    padding: 8px;
    background-color: #1b3a4b;
    color: white;
    width: 80px;
}