#input-info-container {
    position: fixed;
    right: 8px;
    top: 80px;
    display: flex;
    flex-direction: column;
    gap: 8px; /* Space between buttons */
    align-items: center;
    z-index: 9999;
}

#input-info-container div {
    width: 120px;
    color: aliceblue;
    border-radius: 4px;
    padding: 8px 4px;
    text-align: center;
    font-size: 12px;
    opacity: 0; /* Initially hidden */
    transform: translateX(10px); /* Slightly moved up */
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

#input-info-container div.show {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Moves into position */
}

/* Fade out effect and smooth upward shift */
#input-info-container div.hide {
    opacity: 0;
    transform: translateY(-10px);
}