/* === Main === */

#main-container {
    display: flex;
    flex: 1;
}

#main {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

/* === Sidebar === */

#sidebar-container {
    background-color: #e4eaec;
    width: 200px;
    flex-shrink: 0;
}

#button-container {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #dadfe0;
}

#button-container * {
    color: #1b3a4b;
    border: none;
    cursor: pointer;
    background-color: #dadfe0;
}

#button-container #show-tasks {
    font-size: 16px;
    font-weight: 400;
}

#categories {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 8px;
    margin-top: 8px;
}

#categories * {
    display: flex;
    justify-content: space-between;
    background-color: #e4eaec;
    color: #1b3a4b;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
}

/* === Content === */

#tasks-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 8px;
}

/* === Control panel === */

#control-panel {
    width: 100%;
    color: #1b3a4b;
    background-color: #edf6f9;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 8px;
}

/* === Task list === */

#task-list {
    padding: 8px;
    width: 900px;
    border: 1px solid red;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#task-list li[id^='item-'] {
    min-width: 300px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
}

/* === List item's children === */
div[id^='category-container-'] {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 24px;
    min-width: 24px;
    min-height: 141px;
    height: 100%;
}

[id^="item-category-"] {
    transform: rotate(-90deg);
    transform-origin: center center;
    white-space: nowrap;
    display: inline-block;
}

div[id^="view-wrapper-"] {
    border: 1px solid red;
    height: 100%;
    display: flex;
    flex: 1;
    padding: 8px;
}

div[id^="view-wrapper-"] *{
    color: #1b3a4b;
}

div[id^="main-content-"] {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

div[id^="main-view-"] {
    border: 1px solid red;
    display: flex;
    width: 100%;
    flex: 1;
}

div[id^="item-details-"] [id^="item-title-"] {
    color: red;
}

div[id^="main-view-"] [id^="item-details-"] {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
    border: 1px solid red;
}

button[id^="displaySecView-btn"] {
    max-height: 24px;
    cursor: pointer;
}

div[id^="main-view-"] [id^="date-container-"] {
    display: flex;
    align-items: center;
    gap: 8px;
}

div[id^="sec-view-"] {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 350px;
}

div[id^='not-container-'] {
    display: flex;
    gap: 16px;
    border: 1px solid red;
}

div[id^='not-container-'] > * {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 4px;
}

div[id^='desc-container'] {
    width: 100%;
    align-self: center;
    flex-grow: 1;
    height: 85px;
    padding: 4px;
    /* border: 1px solid blue; */
}

div[id^='desc-container'] p {
    word-break: break-word;
    margin: 0;
    color: purple;
}

div[id^='btn-container-'] {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button[id^='item-delete-'],
button[id^='item-edit-'] {
    border: none;
    background-color: #fff;
    cursor: pointer;
    color: #1b3a4b;
}

.selected {
    font-style: italic;
}

#tasks-container #open-dialog {
    position: fixed;
    right: 16px;
    bottom: 35px;
    border: none;
    padding: 8px;
    border-radius: 50%;
    color: aliceblue;
    background-color: #1b3a4b;
    cursor: pointer;
}