/* === Navigation === */

#menu-container {
    display: flex;
    justify-content: center;
    padding: 16px 8px;
    background-color: #edf6f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

#menu {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu div#logo {
    font-size: 24px;
}

#menu button {
    background-color: #edf6f9;
    border: none;
    cursor: pointer;
}

#menu #search-input {
    position: fixed;
    right: 40px;
    top: 10px;
    font-size: 16px;
    border-radius: 16px;
    padding: 8px;
}

.closed {
    display: none;
}