@import './navigation.css';
@import './main.css';
@import './undo.css';
@import './input-info.css';
@import './media-query.css';
@import './dialog.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*::selection {
    background-color: #1b3a4b;
    color: #e4eaec;
}

/* === Wrapper === */

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    padding-top: 60px;
}

/* === Footer === */

#footer {
    display: flex;
    justify-content: center;
    padding: 8px 0;
    background-color: #e4eaec;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

#footer * {
    text-decoration: none;
    color: #1b3a4b;
    font-size: 14px;
    font-weight: 300;
}

/* ***=== fix/absolute-positioned buttons / divs ===*** */

#button-container #new-category-container {
    position: absolute;
    width: 234px;
    font-size: 16px;
    padding: 4px;
    left: 0;
    margin-left: 8px;
    border: 1px solid #e4eaec;
    background-color: #e4eaec;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.1);

    border-radius: 8px;
    cursor: unset;
}

#new-category-container #close-category-container {
    position: absolute;
    border: 1px solid #1b3a4b;
    background-color: #1b3a4b;
    color: #e4eaec;
    width: 16px;
    height: 16px;
    top: -4px;
    left: -4px;
    z-index: 1;
    border-radius: 4px;
}

#new-category-container #new-category-input{
    border: 1px solid #dadfe0;
    background-color: #dadfe0;
    cursor: text;
    color: #1b3a4b;
}

#new-category-container #new-category-input:focus {
    outline: none;
    border: 1px solid #1b3a4b;
    transition: border .2s ease-out;
}

#new-category-container #color-selector {
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 36px;
    border: 1px solid #e4eaec;
    background-color: #e4eaec;
    color: #1b3a4b;
}

#color-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#new-category-container #color-selector input{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	cursor: pointer;
}

#category-color-value {
    width: 100px;
    height: 20px;
    border-radius: 8px;
    border: 1px solid #e4eaec;
}