@import './navigation.css';
@import './main.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* === Wrapper === */

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

/* === Footer === */

#footer {
    display: flex;
    justify-content: center;
    padding: 8px 0;
    background-color: #dd75cf;
}

/* ***=== fix/absolute-positioned buttons / divs ===*** */

#open-dialog {
    position: fixed;
    right: 20px;
    bottom: 40px;
}

#input-info {
    position: absolute;
    left: 40px;
    bottom: 20px;
}

#undoBtn {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

#button-container #new-category-input {
    position: absolute;
    font-size: 16px;
    padding: 4px;
    left: 0;
    margin-left: 4px;
}